.taskitems {
  display: flex;
  justify-content: space-between;
}
.delete-btn{
  background: white;
  border: none;
}
.edit-btn{
  background: white;
  border: none;
}
.btns-container{
  position: relative;
  top: 1.4em;
}
.task-container{
  border-bottom: 1px solid black;
}